<form class="form-inline" name="formAddTodo" role="form" ng-submit="auth(model)">
   <!-- xsrf key --> 
  <div class="form-group">
    <label for="id_email" class="sr-only">Email</label>
    <input type="email" class="form-control" id="id_email" placeholder="Email" ng-model="model.email" required>
  </div>  

  <div class="form-group">
    <label for="id_password" class="sr-only">Password</label>
    <input type="password" class="form-control" id="id_password" placeholder="Password" ng-model="model.password" required>
  </div>  

  <button type="submit" class="btn btn-default" >login</button>
</form>
