<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">×</button>
      <h4 class="modal-title" id="myModalLabel">Delete</h4>
    </div>
    <div class="modal-body">
      <p>
        Do you want remove this task? <br>
        This procedure can not be undone.
      </p>    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" ng-click="ok()">Delete</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>