<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TODO with AngularJS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css">
  <style>
    body {
      overflow-y: scroll;
    }

    .todo-true td,
    .todo-true input {
      background-color: #F5F5F5;
      color: #c2c2c2;
      text-decoration: line-through;
    }

    .relative {
      position: relative;
    }

    .login-form {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 15px;
    }

    .well {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .table th:not(:first-child):not(:last-child):hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .table td {
      cursor: move;
    }
  </style>


</head>
<body>
  <div class="container">

    <aside class="relative">
      <div class="login-form well">
        <!-- XCRF token -->
        <login-form></login-form>
      </div>
    </aside>

    <header class="page-header">
      <h1>TODO list <small>AngularJS 1.2.0 and Bootstrap 3.0</small></h1>
    </header>

    <div ng-controller="MainCtrl">

      <section>
        <form class="form-inline" name="formAddTodo" role="form" ng-submit="addTodo(newtodo)">
          <div class="form-group">
            <label for="id_task" class="sr-only">Task</label>
            <input type="text" class="form-control" id="id_task" placeholder="Task" ng-model="newtodo.task" required>
          </div>

          <div class="form-group">
            <label for="id_project" class="sr-only">Project name</label>
            <input type="text" class="form-control" id="id_project" placeholder="Project name" ng-model="newtodo.project">
          </div>

          <div class="form-group">
            <label for="id_deadline" class="sr-only">Deadline</label>
            <input type="text" class="form-control" id="id_deadline" placeholder="mm/dd/yyyy"  datepicker-popup="dd/MM/yyyy" ng-model="newtodo.deadline">
          </div>

          <button id="id_addtask" type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Add TODO
          </button>
        </form>
      </section>

      <br>

      <section>
        <table id="id_table" class="table table-hover table-bordered">
          <thead>
            <tr>
              <th >#</th>
              <th class="click" ng-click="selected = 'task'; reverse=!reverse">Task
                <a href="#" class="pull-right"><i class="glyphicon glyphicon-sort"></i></a>
              </th>
              <th ng-click="selected = 'project'; reverse=!reverse">Project name
                <a href="#" class="pull-right"><i class="glyphicon glyphicon-sort"></i></a>
              </th>
              <th ng-click="selected = 'deadline'; reverse=!reverse">Deadline
                <a href="#" class="pull-right"><i class="glyphicon glyphicon-sort"></i></a>
              </th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody ui-sortable ng-model="todos">
            <tr ng-repeat="todo in todos" >
              <td><input type="checkbox" ng-model="todo.done"></td>
              <td>{{ todo.task }}</td>
              <td>{{ todo.project }}</td>
              <td><input type="text" value="{{ todo.deadline | date:'dd/MM/yyyy' }}" class="form-control" disabled></td>
              <td>
                <button type="button" class="btn btn-default btn-xs btn-remove" ng-click="removeTodo(todo)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

    </div><!--/ MainCtrl -->

  </div>


    <script type="text/ng-template" id="template/modal/window.html">
      <div id="id_modal" class="myModalLabel fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block; z-index: 1050;">
        <div ng-transclude></div>
      </div>
    </script>

    <script type="text/ng-template" id="template/datepicker/datepicker.html">

      <table style="table-layout:fixed;" class="table-condensed">
        <!-- secondary: last month, disabled: disabled -->
        <thead class="text-center">
          <tr>
            <th style="overflow: hidden; min-width: 26px">
              <button type="button" class="btn btn-xs btn-link" ng-click="move(-1)">
                <span class="glyphicon glyphicon-chevron-left"> </span>
              </button>
            </th>
            <th colspan="{{rows[0].length - 2 + showWeekNumbers}}"><button type="button" class="btn btn-md btn-link btn-block" ng-click="toggleMode()"><strong>{{title}}</strong></button></th>
            <th style="overflow: hidden; min-width: 26px">
              <button type="button" class="btn btn-xs btn-link" ng-click="move(1)">
                <span class="glyphicon glyphicon-chevron-right"> </span>
              </button>
            </th>
          </tr>
          <tr ng-show="labels.length > 0">
            <th class="text-center" ng-show="showWeekNumbers" style="overflow: hidden; min-width: 26px"><h6>#</h6></th>
            <th class="text-center" ng-repeat="label in labels" style="overflow: hidden; min-width: 26px"><h6>{{label}}</h6></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in rows">
            <td ng-show="showWeekNumbers" class="text-center" style="overflow: hidden; min-width: 26px"><button type="button" class="btn btn-xs btn-link" disabled><strong><em>{{ getWeekNumber(row) }}</em></strong></button></td>
            <td ng-repeat="dt in row" class="text-center" style="overflow: hidden; min-width: 26px">
              <button type="button" style="width: 100%; border: 0px" class="btn btn-xs" ng-class="{'btn-primary': dt.selected, 'btn-default': !dt.selected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{'text-muted': dt.secondary && !dt.selected}">{{dt.label}}</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/ng-template" id="template/datepicker/popup.html">
      <ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" class="dropdown-menu">
        <li ng-transclude></li>
      </ul>
    </script>


    <script src="lib/jquery/jquery-2.0.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="js/md5-service.js"></script>
    <script src="lib/ui-angular/sortable.js"></script>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>

    <script src="js/app.js"></script>

    <script>
      $(document).ready(function() {

      // Sortable fix helper - jQuery UI
      // http://www.foliotek.com/devblog/make-table-rows-sortable-using-jquery-ui-sortable/
      var fixHelper = function(e, ui) {
        ui.children().each(function() {
          $(this).width($(this).width());
        });
        return ui;
      };

      $(".table tbody").sortable({
        helper: fixHelper
      }).disableSelection();
    })
    </script>

</body>
</html>
